<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'アニメ一覧', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container mt-4">
    <h1>アニメ一覧</h1>
    <div class="float-end mb-3">
      <a th:href="@{/anime/add}" class="btn btn-primary">新規登録はこちら</a>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>タイトル</th>
          <th>年</th>
          <th>ジャンル</th>
          <th>詳細</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="anime : ${animelist}" th:object="${anime}" class="align-middle">
          <td th:text="*{id}"></td>
          <td th:text="*{title}"></td>
          <td th:text="*{year}"></td>
          <td th:text="*{genre}"></td>
          <td>
            <a th:href="@{/anime/{id}(id=*{id})}" class="btn btn-secondary btn-sm">詳細</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>