<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head
  th:replace="common/head :: head_fragment(title = 'アニメ情報詳細', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <h1>アニメ情報詳細</h1>
    <div th:object="${animeData}">
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">タイトル</div>
        <div class="col pt-3 border">
          <p th:text="*{title}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">年</div>
        <div class="col pt-3 border">
          <p th:text="*{year}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">ジャンル</div>
        <div class="col pt-3 border">
          <p th:text="*{genre}"></p>
        </div>
      </div>
    </div>
    <br />
    <div class="text-center">
      <a th:href="@{/anime/{id}/edit(id=*{id})}" class="btn btn-primary" >　編集　</a>
      <a th:href="@{/anime/{id}/delete(id=*{id})}" class="btn btn-secondary">　削除　</a>
      <a href="/anime/list" class="btn btn-secondary">一覧に戻る</a>
    </div>
  </div>
</body>
</html>