<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head
  th:replace="common/head :: head_fragment(title = 'Todo新規登録', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <div th:if="${validationError}" th:each="error : ${validationError}">
      <label class="text-danger" th:text="${error}"></label>
    </div>
    <h1>Todo新規登録</h1>
    <form th:action="@{/todo/create}" th:object="${todoRequest}" th:method="post">


      <div class="form-group">
        <label>タイトル：<span class="text-danger">※</span></label>
        <input type="text" th:field="*{title}" class="form-control">
      </div>


      <div class="form-group">
        <label>詳細：<span class="text-danger">※</span></label>
        <input type="text" th:field="*{description}" class="form-control">
      </div>


  <div class="form-group form-check">
  <input type="checkbox" th:field="*{completed}" class="form-check-input" id="completed">
  <label class="form-check-label" for="completed">完了</label>
</div>
      
      <br />
      <div class="text-center">
        <a href="/todo/list" class="btn btn-secondary">キャンセル</a>
        <input type="submit" value="　登録　" class="btn btn-primary">
      </div>
    </form>
  </div>
</body>
</html>