<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head
  th:replace="common/head :: head_fragment(title = 'Todo情報詳細', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <h1>Todo情報詳細</h1>
    <div th:object="${todoData}">
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">タイトル</div>
        <div class="col pt-3 border">
          <p th:text="*{title}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">詳細</div>
        <div class="col pt-3 border">
          <p th:text="*{description}"></p>
        </div>
      </div>
    <div class="row mx-md-n5">
    <div class="col-2 pt-3 border bg-light">完了状況</div>
    <div class="col pt-3 border">
    <p th:text="*{completed} ? '完了' : '未完了'"></p>
      </div>
     </div>
    </div>
    <br />
    <div class="text-center">
      <a th:href="@{/todo/{id}/edit(id=*{id})}" class="btn btn-primary" >　編集　</a>
      <a th:href="@{/todo/{id}/delete(id=*{id})}" class="btn btn-secondary">　削除　</a>
      <a href="/todo/list" class="btn btn-secondary">一覧に戻る</a>
    </div>
  </div>
</body>
</html>